@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
}
body {background-color: rgb(12, 4, 23);}
header {
    padding: 32px;
    border-bottom: 4px solid #140631;
    background-color: rgba(40, 13, 70, 0.974);}
 header div {text-align: center; /*Alinhamento no meio do  header*/}
header div a {
    color: rgb(192, 190, 190);/*a cor do texto*/
    font-size: 35px;/*tamanho da fonte*/
    line-height: 40px;/*espaçamento de linha do texto*/
    margin: 0 16px;/*espaçamento entre os textos*/
    text-decoration: none;
    font-family: "Figtree", sans-serif;
    transition: 700ms;
}
header div a:hover{color: rgb(95, 22, 214);
font-size: 40px;
margin: 0 16px;
text-decoration:none;
font-family: "Figtree", sans-serif;
transition:700ms;}

#box {
    text-align: center;
    padding: 32px;
}
#box img {
    border-radius:50%;
    border: 5px solid #391587;
    margin-bottom: 32px;

}
#box h1 {
    font-size: 42px;
    line-height: 52px;
    font-family: "Figtree", sans-serif;
    color: rgb(176, 168, 190);

}
#box h2 {
    font-size: 20px;
    line-height: 34px;
    font-family: "Figtree", sans-serif;;
    margin-top: 8px;
    opacity: 0,8;
    color: rgb(181, 181, 181);
}